#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix MX Puppet Discord server
{% for service in matrix_mx_puppet_discord_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_mx_puppet_discord_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-mx-puppet-discord
ExecStartPre=-/usr/bin/docker rm matrix-mx-puppet-discord
ExecStartPre=/usr/bin/docker run --rm --name matrix-mx-puppet-discord-db \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			-v {{ matrix_mx_puppet_discord_config_path }}:/config:z \
			-v {{ matrix_mx_puppet_discord_data_path }}:/data:z \
			{{ matrix_mx_puppet_discord_docker_image }} \
			alembic -x config=/config/config.yaml upgrade head

# Intentional delay, so that the homeserver (we likely depend on) can manage to start.
ExecStartPre=/bin/sleep 5

ExecStart=/usr/bin/docker run --rm --name matrix-mx-puppet-discord \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--network={{ matrix_docker_network }} \
			{% if matrix_mx_puppet_discord_container_http_host_bind_port %}
			-p {{ matrix_mx_puppet_discord_container_http_host_bind_port }}:8080 \
			{% endif %}
			-v {{ matrix_mx_puppet_discord_config_path }}:/config:z \
			-v {{ matrix_mx_puppet_discord_data_path }}:/data:z \
			{% for arg in matrix_mx_puppet_discord_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_mx_puppet_discord_docker_image }} \
			python3 -m mx_puppet_discord -c /config/config.yaml

ExecStop=-/usr/bin/docker kill matrix-mx-puppet-discord
ExecStop=-/usr/bin/docker rm matrix-mx-puppet-discord
Restart=always
RestartSec=30
SyslogIdentifier=matrix-mx-puppet-discord

[Install]
WantedBy=multi-user.target
